:root {
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --title--color: #212121;
  --text--color: #757575;
  --background-color-section: #2f303a;
  --logo-top-color: #000000;
  --contact-botom-color: rgba(255, 255, 255, 0.6);
  --background-color-man-section: #f5f4fa;
  --line-color: #ececec;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --icon-color-footer: rgba(255, 255, 255, 0.1);
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --button-hiro-hover: #188ce8;
}
/* Общее */
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text--color);
  background-color: var(--background-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title--color);
}
.btn {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  cursor: pointer;
}
/* Визуальное скрытие заголовка */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Иконки соцсетей */
.link-social {
  display: block;
  padding: 12px;
  border-radius: 50%;
}
.icon-social {
  display: block;
}
/* ************************************************************************************ */
/* Хедер */
header {
  border-bottom: 1px solid var(--line-color);
}
.navigation {
  display: flex;
}
nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-up {
  margin-right: 93px;
}
.logo-top {
  color: var(--logo-top-color);
}
.list.contacts {
  display: flex;
  margin-left: auto;
}
.list.contacts li + li {
  margin-left: 50px;
}
.list.pages {
  display: flex;
}
.list.pages li + li {
  margin-left: 50px;
}

.page,
.contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.page {
  color: var(--title--color);
}
.active {
  color: var(--accent-color);
}
.contact {
  display: flex;
  align-items: center;
  color: var(--text--color);
  fill: currentColor;
}
.page:hover,
.contact:hover,
.page:focus,
.contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.icon-envelope {
  margin-right: 10px;
}
.icon-smartphone {
  margin-right: 10px;
}

/* *******************************  Страница Студия  ******************************* */
/* Герой */
.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);

  background-color: var(--background-color-section);
  background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)),
    url('../images/img-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero-btn {
  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--background-color);

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--button-hiro-hover);
}
/* Особенности */
.specialty-thumb {
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-color-man-section);
}
.icon-specialty {
  display: block;
}
.list.specialty {
  display: flex;
  width: cacl((100% - 90px)/4);
}
.list.specialty li {
  width: 270px;
  margin-right: 30px;
}
.list.specialty li:last-child {
  margin-right: 0;
}
.specialty-title {
  margin-bottom: 10px;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--title--color);
}

/* Чем мы занимаемся */
.section.work {
  padding-top: 0;
}
.list.work-list {
  display: flex;
}
.list.work-list img {
  display: block;
}
.list.work-list li + li {
  margin-left: 30px;
}
/* Наша команда */
.section-command {
  background-color: var(--background-color-man-section);
}
.mans {
  display: flex;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.list.mans > li + li {
  margin-left: 30px;
}
.list.mans img {
  display: block;
}

.list.mans > li {
  width: 270px;

  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.man {
  padding: 30px 32px;
}
.man-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title--color);
}
.man-profession {
  margin-bottom: 16px;
}
.man-list {
  display: flex;
  justify-content: space-between;
}
.man-list .link-social {
  fill: var(--icon-color);
}
.link-social:hover,
.link-social:focus {
  fill: var(--background-color);
  background-color: var(--accent-color);
}
/* Постоянные клиенты */
.client {
  display: flex;
}
.client > li + li {
  margin-left: 30px;
}

.client-card {
  display: block;
  padding: 15px 31px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
}
.client-card:hover,
.client-card:focus {
  border-color: var(--accent-color);
}
.icon-client {
  display: block;
}

/* *******************************  Страница Портфолио  ******************************* */
/* Фильтр навигации */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter li + li {
  margin-left: 8px;
}
.filter-btn {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title--color);
  background-color: var(--background-color-man-section);
  border-radius: 4px;
  border: none;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Проекты портфолио */
.projects {
  display: flex;
  flex-wrap: wrap;
}
.progect-element {
  margin-right: 30px;
  margin-bottom: 30px;
}
.progect-element:nth-child(3n) {
  margin-right: 0;
}
.progect-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project {
  width: 370px;
  padding: 20px 24px;

  border: 1px solid var(--border-color);
  border-top: none;
}
.progect-element img {
  display: block;
}

.project-name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title--color);
}
.project-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text--color);
}
.progect-element > a:hover {
  display: inline-block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ************************************************************************************ */
/* Подвал */
footer {
  background-color: var(--background-color-section);
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-footer {
  display: flex;
}
.logo-dw {
  display: inline-block;
  margin-bottom: 20px;
}
.logo-bottom {
  color: var(--background-color);
}
address {
  margin-bottom: 9px;

  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: var(--background-color);
}
.contact-bottom {
  line-height: 1.71;
  color: var(--contact-botom-color);
}
.contact-bottom:hover,
.contact-bottom:focus {
  color: var(--accent-color);
}
.blok-adress {
  margin-right: 70px;
}
.blok-adress ul > li + li {
  margin-top: 9px;
}
.join-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-color);
}
.link-social.join {
  fill: var(--background-color);
  background-color: var(--icon-color-footer);
}
.link-social.join:hover,
.link-social.join:focus {
  background-color: var(--accent-color);
}
.list.join-list {
  display: flex;
}
.list.join-list > li + li {
  margin-left: 10px;
}
.blok-join {
  padding-top: 12px;
}
